/* Shared styles start */
body {
    font-family: "Mulish", sans-serif;
    margin: 0 auto;
}

.paragraph-styles {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 26px
}


.common-button {
    width: 174px;
    height: 52px;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 1.25rem;
}

.common-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}


/* Shared styles end */

/* Nav section start*/
.head-content {
    max-width: 1170px;
    margin: 0px auto 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.click-name {
    color: #424247;
    /* text-align: center; */
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 0;
}

.nav-travel {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.menu-bar {
    display: flex;
}

.menu-name {
    margin-right: 40px;
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.123rem;
    font-weight: 400;
}

.Contact {
    margin-right: 0;
}

.menu-home {
    color: rgba(255, 84, 0, 1);
}

/* nav section end */

/* banner section start */
.banner-container {
    max-width: 1170px;
    margin: 30px auto 0;
    height: 500px;
    border-radius: 16px;
    background-image: url(../Images/Group-13.png);
}

.banner-content {
    /* background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, 0)); */
    background: linear-gradient(180deg,
            rgba(19, 19, 24, 1) -10%,
            rgba(19, 19, 24, 0)100%);
    border-radius: 16px;
    text-align: center;
    padding-top: 48px;

}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-paragraph {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}

.banner-button-container {
    display: inline-flex;
    padding: 16px;
    margin-top: 40px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);


}

.banner-button {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    background: #FFF;
    border: none;
    text-align: left;
    padding-left: 10px;
}

.isize {
    margin-left: 74px;
}

.jsize {
    margin-left: 44px;
}

.fa-solid {
    padding-right: 10px;
}

/* banner section end */

/* Our-Popular-Tours section start  */
.Our-Popular-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}


.popular-tours-content {
    width: 50%;
}

.popular-tours-img {
    width: 50%;
    padding-left: 50px;
}

/* Our-Popular-Tours section end  */
/* Destinations-section start */
.Destinations-container {
    width: 1170px;
    /* margin: 80px auto 0; */
    margin: 0 auto;
}

.Destination-title {
    margin-bottom: 20px;
}

.Destination-content {
    text-align: center;
    text-wrap: nowrap;
}

.photo-container-1 {
    display: flex;
    justify-content: space-between;
}

.Maldives-photo {
    position: relative;

}

.place-name-1 {
    position: absolute;
    bottom: 50%;
    left: 40%;
    top: 25%;

}

.photo-container-2 {
    margin-top: 15px;
}

.photo-container-2>div {
    display: flex;
    justify-content: space-between;
}

.photo-container-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.place-name {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* Destinations-section end */

/* Why Choose Us section styles start */
.choose-us-container {
    width: 1170px;
    margin: 0 auto;

}

.choose-us-text {
    text-align: center;
    margin-top: 100px;
}

.choose-title {
    margin: 0 0;
}

.choose-title-1 {
    margin-top: 20px;
    margin-bottom: 0;
}

.card-container-1 {
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.choose-us-card {
    width: 573px;
    height: 250px;
    background: rgba(251, 181, 99, 0.05);
    border-radius: 16px;

}

#background-color-dif {
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.card-icon {
    width: 64px;
    height: 64px;
}

.card-content {
    padding: 15px;
}

.card-title {
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0;
}

.last-card-container {
    margin-left: 25%;
    margin-top: 20px;
}

.choose-us-card-2 {
    width: 573px;
    height: 250px;
    background: rgba(251, 181, 99, 0.05);
    border-radius: 16px;
}

/* Why Choose Us section styles end */

/* Deals & Discounts section start */
.Deals-container {
    width: 1170px;
    margin: 0 auto;
    margin-top: 90px;

}

.discounts-text-content {
    text-align: center;
}

.deals-banner {
    margin-top: 40px;
}

.deals-img-1 {
    position: relative;
}

.deals-card-1 {
    position: absolute;
    bottom: 40%;
    left: 45%;
    top: 12%;
    right: 2%;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.deals-card-2 {
    position: absolute;
    bottom: 40%;
    left: 5%;
    top: 12%;
    right: 45%;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.price-1 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.deals-banner-content {
    padding: 20px 0 0px 50px;
}

.list-for-deals {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-left: 0;
}

#deals-gap-1 {
    margin-top: 10px;
}

.deals-btn-last {
    text-align: center;
    margin-top: 20px;
}

/* Deals & Discounts section end */
.Simple-Perfect-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    gap: 34px;
}

.popular-perfect-content {
    position: relative;
    bottom: 30px;
}

.simple-btn {
    margin: 30px;
}

/* footer section start */
.footer-container {
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 40px;
}

.footer-content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.paragraph-styles {
    margin-top: 5px;
    margin-bottom: 0;
}

.logo-style {
    color: #424247;
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.foot-paragraph {
    text-align: center;
}

.logo-40 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-icon {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-icon>a>i {
    color: #424247;
}

.hr-footer {
    width: 1000px;
    margin-top: 50px;
}

.footer-copyright {
    width: 500px;
    margin: 50px auto 0;
    text-align: center;
}

/* footer section end */






/* Responsive section */
/* Small devices */
@media screen and (max-width:576px) {

    /* shared style  */
    .title-0 {
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;

    }

    /* nav section */
    .nav-container {
        width: 540px;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
    }

    .webName {
        margin-bottom: 0;
    }

    .menu-bar {
        flex-direction: row;
    }

    .menu-name {
        margin-right: 25px;
    }

    /* banner section */
    .banner-container {
        max-width: 540px;
        margin: 0 auto;
        height: 483px;
        margin: 30px auto 0;
    }

    .banner-content {
        padding-top: 1px;
        margin: 0;
    }

    .banner-title {
        color: #FFF;
        font-size: 1.34rem;
        font-weight: 800;
    }

    .banner-paragraph {
        margin: 8px;
        padding-top: 0px;
    }

    .banner-button-container {
        flex-direction: column;
        margin-top: 10px;
    }

    /* Our-Popular-container section */
    .Our-Popular-container {
        max-width: 550px;
        flex-direction: column;
        text-wrap: nowrap;
        margin: 0 auto;
        padding: 0 10px;
    }

    .popular-tours-content {
        width: 520px;
        padding: 10px;

    }

    .popular-tours-img {
        margin-top: 10px;
        width: 100%;
        position: relative;
        right: 45px;
    }

    /* Destinations-section start */
    .Destinations-container {
        max-width: 540px;
    }

    .Destination-content {
        width: 500px;
        height: 100%;
        margin: 0 auto;
    }

    .photo-container-1,
    .photo-container-2>div,
    .photo-container-3 {
        flex-direction: column;
    }

    .Destination-title {
        font-size: 1.5rem;
        margin-left: 120px;
    }

    .common-title {
        color: #131318;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .img-size-res {
        width: 540px;
        height: 100%;
    }

    .Destinations-photo-container {
        margin: 0 auto;
    }

    .gap20 {
        gap: 15px;
    }

    /* Destinations-section end */

    /* Why Choose Us section start */
    .choose-us-container {
        width: 540px;
        margin: 0 auto;
    }

    .card-container-1 {
        flex-direction: column;
    }

    .common-title {
        text-align: left;
    }

    .choose-title-1 {
        width: 400px;
    }

    .choose-us-card-2 {
        position: absolute;
        right: 5px;
        left: 8px;
        width: 540px;
        margin: 0 auto;
    }

    /* right place */
    .card-content {
        width: 510px;
        padding: 15px;
    }

    .choose-us-card {
        width: 540px;
    }

    .hotel-card1 {
        padding: 0;
    }

    .card-title {
        margin: 0;
    }

    /* Why Choose Us section end */

    /* deals and discounts section :start */
    .Deals-container {
        width: 540px;
        margin: 300px auto 0;
        flex-direction: column;
    }

    .discounts-text-content {
        text-align: left;
        flex-direction: column;
    }

    .deals-respons {
        width: 540px;
        height: 560px;
        /* height: 100%; */
    }

    .price-1 {
        margin: 10px 0 0 0;
    }

    .deals-card-1,
    .deals-card-2nd {
        position: absolute;
        bottom: 2%;
        left: 3%;
        top: 30%;
        right: 10%;
        width: 500px;
        height: 350px;

        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(1.5px);
    }

    .deals-banner-content {
        padding: 10px;
    }

    .deals-btn {
        margin-top: 40px;
    }

    .deals-btn-last {
        text-align: center;
        margin-top: 20px;
    }

    /* deals and discounts section end */
    .Simple-Perfect-container {
        max-width: 540px;
        flex-direction: column;
        text-wrap: nowrap;
        margin: 0 auto;
        padding: 0 10px;
        gap: 15px;
    }

    .popular-perfect-content {
        position: relative;
        top: 50px;
    }

    .perfect-img {
        position: relative;
        top: 60px;
    }

    .popular-tours-img-1 {
        width: 535px;
        margin: 0 auto;

    }

    /* footer section Start*/
    .footer-container {
        width: 100%;
        background: rgba(19, 19, 24, 0.05);
        margin-top: 100px;
    }


    .hr-footer {
        width: 500px;
        margin-top: 50px;
    }

    /* footer section end*/
}